/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body, html {
    height: 100%;
    background-color: black;
    position: relative;
}

html, p, nav, dd {
    
    color: #ffffff;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 2;
    padding-bottom: 20px;
    padding-top: 20px
}


/* Links */

a:link {
    color: rgb(0, 217, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 217, 255);
}

a:hover {
    color: rgb(0, 217, 255);
}

a:active {
    color: rgb(0, 217, 255);
}

/* .work-title {
    font-size: 1.15rem;
} */

/* Border */

.border-slash {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.bgimage-one {
    background-image: url("../img/IMG_2751-dull.png");
    height: 100vh;
    /* width: 130vh; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    opacity: 1;
} 

.bgimage-two {
    /* background-image: url("../img/img_3.png"); */
    /* height: 100%; */
    opacity: .5;
    /* background-position: center center; */
    width: 50%;
    height: auto;
    float: right;
    position: sticky;
    bottom: 100px;
    right: 100px;
}

.bgimage-three {
    /* background-image: url("../img/IMG_2650.jpg"); */
    /* height: 100%; */
    opacity: .5;
    /* background-position: right right; */
    width: 140%;
    height: auto;
    float: right;
    position: sticky;
    /* bottom: 100px; */
    /* right: 100px; */
}

.over-image {
    width: 100%
}
/* 
.bgimage-three {
    background-image: url("../img/IMG_2751.JPG");
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}  */

dl, dd, dt, .card-header {
    color: #ffffff;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
}

h1 {
    /* background-color: black;  */
    color: #ffffff;
    font-family: Avenire, Arial, Helvetica, sans-serif; 
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    background-color: transparent;
    /* color: #ffffff; */
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 2rem;
    text-decoration: none;
}

h3 {
    background-color: transparent;
    color: #ffffff;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 2rem;
    text-decoration: none;
}

h4 {
    background-color: transparent;
    /* color: #ffffff; */
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 1.5rem;
    text-decoration: none;
}


.button {
    background-color: transparent;
    color: #ffffff;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 2rem;
}

.lead {
    font-size: 1.5rem;

}

.logo {
    height: 150px;
    display: block;
}

.wrapper {
    position: relative;
}

.block-img {
    
    width: 40%;
    height: auto;
    float: right;
    position: relative;
    /* bottom: 100px;
    right: 100px; */
}



nav {
    font-size: 1.9rem;
    color: white;
    position: fixed;
    right: 50px;
    padding-top: 50px;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    line-height: 1.4;

}

.nav-item {
    padding-bottom: 50px;
}

.title {
    padding-top: 55vh;
    padding-left: 40px;
    /* padding-right: 25vh; */
    /* float: bottom; */
    font-size: 6rem;
}

ul {
    list-style: none;
}

/* Accordion */

.accordion-toggle:hover {
    text-decoration: none;
  }

.acc-item {
    height: 250px;
    width: 700px;
    border: none;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    overflow: auto;
    background-color: rgba(24, 80, 97, 0.144);
    padding: 10px;
}

.item {
    padding: 20px;
}

/* Form */

.contact {
    padding-right: 60px;
}

.contact-form, .form-group {
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    background-color: transparent;
    color: black;
}

.btn {
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-weight: bold;
}

/* Map */

.map {
    width: 400px;
    height: 325px;
    border: 0;
}
/* .contact-form {
    padding-right: 50px;
} */

/* Credits and Copyright */

.copyright {
    font-size: .8rem;
    padding: 50px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        /* border: 1px solid #999; */
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
